@import "../../assets/style/abstracts/placeholders";
.cartTitle {
  @extend %pageTitle;
}
.totalPrice {
  text-align: center;
  color: $mainColor;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 5px;
}
.clearBtn {
  @extend %btn;
  background-color: rgb(196, 7, 7);
  color: $whiteColor;
  &:hover {
    background-color: rgba(196, 7, 7, 0.842);
  }
}
.cartGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  @media (max-width: 992px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
