@import "../../assets/style/abstracts/variables";
.mainBtn {
  background-color: $mainColor;
  color: $whiteColor;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  &:hover {
    background-color: $secondryColor;
    color: $mainColor;
  }
}
