@import "../../assets/style/abstracts/variables";
.navbar {
  background-color: $mainColor;
  z-index: 100000;
  .navLink,
  .navbarBrand {
    color: $whiteColor;
    cursor: pointer;
  }
  .navLink:hover,
  .navbarBrand:hover {
    color: $secondryColor;
  }
  .activeRoute {
    color: $secondryColor;
  }
  .cartNum {
    background-color: $blackColor;
    width: 25px;
    height: 25px;
  }
  .navToggleBtn {
    border: none;
    outline: none !important;
    .toggleIcon {
      font-size: 28px;
      padding: 2px;
    }
    &:focus {
      box-shadow: none;
    }
    @media (min-width: 768px) {
      & {
        display: none;
      }
    }
  }
}
